node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

app.config.js

assets/adaptive-icon.png
assets/favicon.png
assets/icon.png
assets/splash.png
assets/fonts/Poppins-Black.ttf
assets/fonts/Poppins-Bold.ttf
assets/fonts/Poppins-ExtraBold.ttf
assets/fonts/Poppins-ExtraLight.ttf
assets/fonts/Poppins-Light.ttf
assets/fonts/Poppins-Medium.ttf
assets/fonts/Poppins-Regular.ttf
assets/fonts/Poppins-SemiBold.ttf
assets/fonts/Poppins-Thin.ttf
assets/icons/bookmark.png
assets/icons/eye-hide.png
assets/icons/eye.png
assets/icons/home.png
assets/icons/left-arrow.png
assets/icons/logout.png
assets/icons/menu.png
assets/icons/play.png
assets/icons/plus.png
assets/icons/profile.png
assets/icons/right-arrow.png
assets/icons/search.png
assets/icons/upload.png
assets/images/cards.png
assets/images/empty.png
assets/images/logo-small.png
assets/images/logo.png
assets/images/path.png
assets/images/profile.png
assets/images/thumbnail.png
%ProgramData%/Microsoft/Windows/UUS/State/_active.uusver
